.Loggin_component {
    display: flex;
    justify-content: center;
    padding: 5vh 0;
}

.Loggin_component button {
    cursor: pointer;
    width: 100%;
}

.Loggin_container {
    width: 300px;
    min-height: 200px;
    border: solid 1px grey;
    border-radius: 20px;
    padding: 20px;
}

.Loggin_form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.userName_container, .password_container {
    display: flex;
    flex-direction: column;
}

.forgotPassword_label {
    cursor: pointer;
}

.forgotPassword_label:hover {
    text-decoration: underline;
}

.input_error {
    border-color: red;
}

.Loggin_errors {
    color: red;
    font-size: 14px;
}

button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

button:hover {
    background-color: #f0f0f0;
}