.Contact_intro_section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.Contact_intro_title {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    padding: 20px 0;
}

.Contact_intro_description {
    font-size: 26px;
    line-height: 1.5;
}

.Contact_info_form_sections {
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.Contact_info_container {
    background-color: lightgrey;
    padding: 20px 50px;
    border: solid 1px grey;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Contact_info_title, .Contact_form_title {
    font-size: 24px;
    margin: 20px 0;
}

.Contact_form_container {
    max-width: 580px;
    max-height: 680px;
    margin: 0 auto;
}

.Contact_form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #009DD9;
    padding: 20px;
    border-radius: 20px;
}

.Contact_container_name_lastName {
    display: flex;
    column-gap: 5px
}

.Contact_container_name, .Contact_container_lastName, .Contact_container_email,
.Contact_container_tel, .Contact_container_message {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.Contact_input {
    padding: 2px 10px;
    border: solid 1px gray;
    border-radius: 10px;
    height: 30px;
}

textarea.Contact_input {
    height: 80px;
    resize: none;
}

.Contact_submit {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: blue;
    border: solid blue 1px;
    color: white;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    transition: all 1s ease;
}

.Contact_submit:hover {
    background-color: darkblue;
    border: darkblue ;
}

.Contact_errors {
    color: red;
}