.InstitutionalServices_component {
    margin: 0;
}

.InstitutionalServices_sections {
    position: relative;
}

.InstitutionalServices_introduction, .InstitucionalServices_why {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(0,65,115,0.5) 0%, rgba(182,255,255,0.5) 100%);
    padding-bottom: 40px;
    position: relative;
}

 .InstitutionalServices_introduction h1, .InstitucionalServices_why h2 {
    padding: 60px 0 0 0;
}


.InstitutionalServices_introduction p {
    width: 50%;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    line-height: 2;
}

.InstitutionalServices_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.InstitutionalServices_services_title {
    padding: 60px 0 40px 0;
    color: #004173;
    font-size: 32px;
}

.InstitutionalServices_services_container {
    display: flex;
    flex-direction: column;
    padding: 30px 0 80px;
    text-align: center;
    row-gap: 60px;
}

.InstitucionalServices_services_up, .InstitucionalServices_services_down {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.InstitutionalServices_card {
    border: solid 1px lightgrey;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    box-shadow: 10px 10px 10px #e9e9e9;
}

.InstitutionalServices_card h3 {
    background-color: #004173;
    color: #fff;
    box-sizing: content-box;
    min-height: 50px;
    font-size: 20px;
    padding: 10px;
    align-content: center;
}

.InstitutionalServices_card p {
    padding: 10px 15px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.InstitucionalServices_why {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; 
}

.InstitutionalServices_why_section {
    width: 600px;
    text-align: center;
    padding: 10px 0;
}

.InstitutionalServices_why_section li {
    padding: 10px 0;
    font-size: 18px;
    line-height: 2;
}

.InstitutionalServices_why_final h3 {
    font-size: 22px;
}