:root {  

    /* -- Colores -- */
    --primary-color: #004173;
    --secondary-color: #ffffff;
    --tertiary-color: #0979b0;
    --quaternary-color: #0cb7f2;
    --quinary-color: #7cdaf9;
    --senary-color: #b6ffff;

    /* Bordes */
    --border-color-primary: #d3d3d3;

    /* Fondos */
    --background-color-primary: #c0c0c0;

    --accent-color: #e74c3c;
    --accent-color-hover: #e91c3c;
    /* Texto */
    --text-color: #333333;
    --error-color: #b03a2e;

    /* -- Tipografía -- */
    --font-size-p: 1rem;
    --font-size-h1: 2.625rem;
    --font-size-h2: 3rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.125rem;
    
    /* -- Botones -- */
    --btn-padding: 10px 20px;
    --btn-border-radius: 20px;
    --btn-font-size: 13px;
    --btn-height: 30px;

    /* -- Sombra -- */
    --shadow-primary-color: #e9e9e9;
}