.Services_sections {
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
}

.Services_sections .main_banner {
    background-image: url('../../assets/images/Banners/img-prueba-banner.webp');
}

.Services_card_section {
    margin: 0 auto;
}

.Services_card_container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.Services_card {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--secondary-color);
    box-shadow: 10px 10px 10px var(--shadow-primary-color);
}

.Services_card_info {
    width: 600px;
    min-height: 250px;
}

.Services_card_info h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.Services_card_info ul {
    padding: 20px 30px 20px 
    40px;
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.Services_description {
    font-size: 18px;
}

.Services_card_img_left, .Services_card_img_right {
    width: 300px;
    height: auto;
}

.Services_card_img_left {
    border-radius: 20px 0 0 20px;
}

.Services_card_img_right {
    border-radius: 0 20px 20px 0;
}

.Services_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

.Services_careOptionInfo_section {
    width: 100%;
    background: radial-gradient(#b6ffff, #0cb7f2);
    display: flex;
    justify-content: center;
}

.Services_careOptionInfo_container {
    max-width: 500px;
}

.Services_careOptionInfo_list {
    width: fit-content;
}

.Services_careOptionInfo_container h3 {
    margin: 40px 0 20px 0px;
    color: var(--text-color);
    font-size: 1.5rem;
}

.Services_careOptionInfo_container p {
    margin-left: 20px;
    font-size: 20px;
}

.Services_careOptionInfo_list {
    padding: 20px 60px;
    margin-bottom: 20px;
}

.Services_careOptionInfo_list li {
    padding: 10px 0;
    font-size: 18px;
}

.Services_careOptionImg_container {
    display: flex;
}
.Services_careOptionImg_img {
    width: 320px;
    height: fit-content;
    align-self: center;
    border-radius: 20px;
}


/* Responsive section */

@media screen and (max-width: 768px) {
    .Services_card_section {
        padding:  0 60px;
    }

    .Services_card {
        flex-direction: column;
    }

    .Services_card_info {
        width: 100%;
    }

    .Services_card_img_left, 
    .Services_card_img_right {
        width: 100%;
        border-radius: 0;
    }

    .Services_careOptionInfo_container {
        width: 50%;
    }

    .Services_careOptionInfo_container h3 {
        font-size: 20px;
    }

    .Services_careOptionInfo_container p {
        font-size: 18px;
    }

    .Services_careOptionInfo_list {
        padding: 20px 20px 20px 40px;
    }

    .Services_careOptionInfo_list li {
        font-size: 16px;
    }
}


@media screen and (max-width: 450px) {
    .Services_card_section {
        padding:  0 30px;
    }

    .Services_careOptionInfo_section {
        flex-direction: column;
        align-items: center;
        padding: 0 30px 30px;
    }

    .Services_careOptionInfo_container {
        width: 100%;
    }

    .Services_careOptionImg_img {
        width: 100%;
    }
}

@media screen and (max-width: 390px) {
    .Services_card_info h2 {
        font-size: 22px;
    }

    .Services_description {
        font-size: 16px;
    }

    .Services_careOptionInfo_list {
        padding: 20px 10px 20px 40px;
    }
}

@media screen and (max-width:360px) {
    .Services_card_info ul {
        padding: 20px 15px 20px 30px;
    }

    .Services_careOptionInfo_container p {
        font-size: 16px;
    }

    .Services_careOptionInfo_list li {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .Services_card_info h2 {
        font-size: 18px;
    }

    .Services_description {
        font-size: 14px;
    }

    .Services_careOptionInfo_section {
        padding: 0 20px 30px;
    }
}