.Footer_component {
    margin-top: 50px;
    background-color: #004173;
}

.Footer_section {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px;
}

.logo_container {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_container a {
    text-decoration: none;
}

.logo_container img {
    width: 150px;
}

.logo_container p {
    color: var(--secondary-color);
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
}

.Footer_secondSection_ul{
    list-style: none;
    padding: 0;
}

.Footer_secondSection_ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--secondary-color);
    letter-spacing: 0.3px;
}

.Footer_secondSection_ul li p {
    color: var(--secondary-color);
    font-size: 22px;
}

.Footer_secondSection_ul li a {
    color: var(--secondary-color);
    text-decoration: none;
}

.Footer_secondSection_ul li:nth-child(1) {
    font-weight: 700;
    margin-bottom: 30px;
}

.Footer_secondSection_ul li::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.Footer_secondSection_ul li:nth-child(2)::before {
    background-image: url('../../assets/images/Footer/contact_icons/telephone_black_icon.png');
}

.Footer_secondSection_ul li:nth-child(3)::before {
    background-image: url('../../assets/images/Footer/contact_icons/email_black_icon.png');
}

.Footer_secondSection_ul li:nth-child(2)::before, 
.Footer_secondSection_ul li:nth-child(3)::before {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg) brightness(1) contrast(1);
}

.socialMedia_container {
    display: flex;
    column-gap: 30px;
    padding-left: 40px;
    justify-content: flex-start;
    padding-top: 15px;
    border-top: solid 1px var(--secondary-color);
}

.socialMedia_icon_container {
    width: 30px;
    height: 30px;
}

.Footer_socialmedia_link {
    display: flex;
    align-items: center;
}

.socialMedia_icon {
    width: 100%;
    height: 100%;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg) brightness(1) contrast(1);
}


/* Responsive section */

@media screen and (max-width: 900px) {
    .Footer_section {
        padding: 40px 20px;
    }
}

@media screen and (max-width: 768px) {
    .logo_container p {
        font-size: 20px;
    }

    .Footer_secondSection_ul li {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .Footer_section {
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
}

@media screen and (max-width: 360px) {
    .logo_container {
        width: auto;
    }

    .Footer_secondSection_ul li {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .logo_container p {
        font-size: 18px;
    }

    .Footer_secondSection_ul li:last-of-type a {
        font-size: 12px;
    }
}