.Header_content_container {
    background: linear-gradient(135deg, rgba(255,255,255,1) 20%, rgba(0, 65, 115,1) 100%);
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.Header_logo_container {
    display: flex;
    width: 150px;
}

.logo {
    width: 100%;
    align-self: center;
}

@media screen and (max-width: 1279px) {
    .Header_content_container {
        height: 150px;
    }
}