.password_modal {
    z-index: 1000;
    background-color: #fff;
    border: solid 1px;
    border-radius: 20px;
    padding: 20px 30px 30px; 
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 10px var(--shadow-primary-color);
}

.password_modal_content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.password_modal_content h2 {
    font-size: 2rem;
}

.password_modal_content form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.password_modal_content label {
margin-right: 5px;
}

.password_modal_content .error_message {
    font-size: 12px;
}

.password_button_group {
  display: flex;
  margin: 10px;
}

.Login_successful_modal .Logged_options_container .Auth_Button  {
    color: var(--primary-color);
    background-color: var(--quaternary-color);
    border: solid 1px var(--quaternary-color);
    width: 100%;
  }
  

  .Login_successful_modal .Logged_options_container .Auth_Button:hover {
    background-color: var(--primary-color);
    border: solid 1px var(--primary-color) ;
    color: var(--secondary-color);
  }

  .Login_successful_modal .Logged_options_container .password_button_group .Auth_Button {
    width: auto;
  }


