.Logout_Button {
    font-size: 16px;
    font-weight: 300;
    border-radius: unset;
    background-color: #dcd9d9;
    border: solid 1px grey;
    color: var(--text-color);
}

.Logout_Button:hover {
    background-color: var(--background-color-primary);
    border: solid 1px grey;
}