.Header_nav_container {
    padding-right: 20px;
    position: absolute;
    top: 110px;
    right: 0;
}

.sticky {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: end;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 65, 115, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    padding: 10px 20px;
}

.Header_nav {
    height: 30px;
}

.Header_nav_container.sticky .Header_nav {
    height: unset;
}

.Header_nav_menu {
    display: flex;
    list-style: none;
    justify-content: flex-end; 
    align-items: center;
    width: 1070px;
    border: solid 1px var(--secondary-color);
    border-radius: 30px;
    background-color: #00000011;
    overflow: hidden;
}

.Header_nav_menu_item {
    display: flex;
}

.Header_nav_menu_item a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 6px 14px;
}

.Header_nav_menu_item .active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


/* Responsive section */

@media screen and (max-width: 1280px) {
    .Header_nav_container {
        top: 116px;
    }

    .Header_nav_container.sticky {
        position: fixed;
        top: 0;
    }

    .Header_nav_menu {
        width: auto;
    }

    .Header_nav_menu_item a {
        font-size: 12px;
    }
}

@media screen and (max-width: 900px) {
    .Header_nav_menu_item a {
        font-size: 10px;
        padding: 4px 6px;
    }
}