.Header_nav {
    height: 30px;
}

.Header_nav_menu {
    display: flex;
    list-style: none;
    justify-content: flex-end; 
    align-items: center;
    width: 1070px;
    border: solid 1px var(--secondary-color);
    border-radius: 30px;
    background-color: #00000011;
    overflow: hidden;
}

.Header_nav_menu_item {
    display: flex;
}

.Header_nav_menu_item a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 6px 14px;
}

.Header_nav_menu_item .active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


/* Responsive section */

@media screen and (max-width: 1280px) {
    .Header_right_container {
        width: 80%;
    }

    .Header_info_block:nth-child(2), 
    .Header_info_block:nth-child(4) {
        flex: 0.3;
    }

    .Header_info_block p {
        font-size: 20px;
    }

    .Header_nav_menu {
        width: auto;
    }

    .Header_nav_menu_item a {
        font-size: 12px;
    }
}

@media screen and (max-width: 900px) {
    .Header_info_block:nth-child(2), 
    .Header_info_block:nth-child(4) {
        flex: 0.4;
    }
    
    .Header_info_block p{
        font-size: 16px;
    }

    .Header_nav_menu_item a {
        font-size: 10px;
        padding: 4px 6px;
    }
}

@media screen and (max-width: 768px) {
    .Header_content_container {
        z-index: 1000;
        position: fixed;
        top: 0;
        box-shadow:  0px 6px 10px rgba(0, 0, 0, 0.3);
    }

    .Header_right_container p {
        font-size: 22px;
    }
}

@media  screen and (max-width: 450px) {
    .Header_right_container p {
        font-size: 16px;
    }
}

@media screen and (max-width: 390px) {
    .Header_logo_container {
        width: 80px;
    }
}

@media screen and (max-width: 375px) {
    .Header_right_container p {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    .Header_logo_container {
        width: 60px;
    }

    .Header_right_container p {
        padding: 0 15px;
    }
}

@media screen and (max-width: 320px) {
    .Header_right_container p {
        font-size: 12px;
        padding: 0 10px;
    }
}