.home_sections {
    width: 100%;
}

.home_introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: min-content;
    margin-top: 20px;
}

.home_introduction_container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_introduction_title {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    z-index: 2;
    position: relative;
}

.home_introduction_title h1 {
    font-size: 42px;
}

.home_introduction_title span {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 2px;
    padding-top: 10px;
    width: 600px;
    text-shadow: 2px 2px 20px #fff;
}

.home_introduction_image {
    background: linear-gradient(0deg, #004173, #ffffff);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -100px;
    margin-bottom: -500px;
    z-index: 1;
    position: relative;
}

.home_introduction_image img {
    width: 900px;
    height: auto;
    filter: blur(2px);
}

.home_introduction_us {
    position: relative;
    z-index: 2;
}

.home_introduction_us p {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 1px;
    width: 600px;
    align-self: center;
    text-shadow: 2px 2px 20px #fff;
    padding: 20px 0;
}

.home_compromise_container {
    margin: 80px 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home_compromise_title h3 {
    font-size: 34px;
    padding: 20px;
    margin-bottom: 20px;
}

.home_compromise_description {
    max-width: 1200px;
    display: flex;
    column-gap: 20px;
    align-self: center;
}

.home_compromise_description_card {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: solid 1px gray;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 10px #e9e9e9;
}

.home_compromise_description_card h4 {
    min-height: 50px;
    padding: 20px 25px;
    font-size: 20px;
    background: radial-gradient(circle, rgba(124, 218, 249, 1) 20%, rgba(9, 121, 176, 1) 100%);
}

.home_compromise_description_card p {
    margin: 10px;
    font-size: 18px;
}

.home_compromise_service {
    padding: 80px 0;
    font-size: 20px;
}

.home_compromise_service a, .home_services_link a, 
.home_professionals_link a, .home_contact_link a {
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.home_compromise_service a:hover, .home_services_link a:hover, .home_professionals_link a:hover, .home_contact_link a:hover {
    background-color: #009DD9;
}

.home_services {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.home_services_container {
    display: flex;
    max-width: 1000px;
    align-self: center;
    column-gap: 40px;
}

.home_services_introduction {
    max-width: 350px;
    padding: 20px;
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 20px;
}

.home_services_introduction p {
    text-justify: center;
}

.home_services_description {
    max-width: 400px;
    padding: 20px;
}

.home_services_description h4 {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1px;
}

.home_services_items {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.home_services_items_item {
    background-color: #b6ffff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #e9e9e9;
    font-size: 18px;
}

.home_services_items_item span {
    font-weight: bold;
}

.home_services_items_item p {
    padding: 10px 20px;
}

.home_services_link {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.home_professionals, .home_contact {
    display: flex;
    justify-content: center;
}

.home_division {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

.home_professionals_container, .home_contact_container {
    display: flex;
    max-width: 1000px;
    column-gap: 40px;
}

.home_proffesionals_image, .home_contact_image {
    height: 560px;
    width: 420px;
}

.home_proffesionals_image img, .home_contact_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.home_professionals_introduction, .home_contact_introduction {
    width: 400px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 40px;
}

.home_professionals_introduction p, .home_contact_introduction p {
    padding: 20px 40px;
}

