.AboutUs_component {
    margin: 0 auto;
}

.AboutUs_sections {
    position: relative;
}

.AboutUs_banner {
    position: relative;
    width: 100%;
    height: 475px;
    background-image: url('../../assets/images/Banners/banner_institutional.webp');
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.AboutUs_banner_title {
    background: linear-gradient(90deg, var(--primary-color) 10%, rgba(255, 255, 255, 0) 70%);
    height: 100%;
    align-content: center;
    padding-left: 90px;
}

.AboutUs_intro_section {
    background: radial-gradient(circle, var(--secondary-color) 0%, var(--tertiary-color) 100%);
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.AboutUs_intro_section p {
    max-width: 900px;
    padding: 20px 0;
    font-size: 24px;
    line-height: 2;
    text-align: center;
}

.AboutUs_description_section {
    display: flex;
    justify-content: center;
}

.AboutUs_description_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
    row-gap: 30px;
    padding: 30px 0;
}

.AboutUs_description_container >p {
    padding: 20px;
    border: solid 1px var(--border-color-primary);
    border-radius: 20px;
    font-size: 20px;
}

.description_container {
    display: flex;
    width: 700px;
    column-gap: 20px;
    align-self: flex-end;
    padding: 20px;
    border: solid 1px var(--border-color-primary);
    border-radius: 20px;
    background: linear-gradient(90deg, var(--secondary-color) 40%, var(--background-color-primary) 100%);
    line-height: 1.5;
}

.AboutUs_description_container .description_container:nth-child(3),
.AboutUs_description_container .description_container:nth-child(5) {
  flex-direction: row-reverse;
  align-self: flex-start;
  background: linear-gradient(270deg, var(--secondary-color) 40%, var(--background-color-primary) 100%);

}

.description_container p:nth-child(1) {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    width: 40%;
    text-align: center;
    align-self: center;
}

.description_container p:nth-child(2) {
    width: 60%;
  }

.AboutUs_mision_vision_container {
    display: flex;
    width: 100%;
}

.AboutUs_mision_vision_container p {
    align-self: center;
    width: 80%;
    font-size: 20px;
    line-height: 2;
}

.AboutUs_mision, 
.AboutUs_vision {
    width: 50%;
    padding: 40px 30px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
    background: radial-gradient(circle, var(--secondary-color) 0%, var(--tertiary-color) 100%);
}

.AboutUs_mv_description_container {
    padding: 30px 0 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
}

.AboutUs_mv_description_container p {
    max-width: 1000px;
    font-size: 24px;
    font-weight: bold;
}
