.professional_sections {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.professional_banner {
    position: relative;
    width: 100%;
    height: 475px;
    background-image: url('../../assets/images/Banners/banner_institutional.webp');
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.professional_banner_title {
    background: linear-gradient(90deg, var(--primary-color) 10%, rgba(255,255,255,0) 70%);
    height: 100%;
    align-content: center;
    padding-left: 90px;
}

.professional_profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.professional_profile_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 30px 0;
    width: 100%;
    background-color: var(--primary-color);
    text-align: center;
    box-shadow: 0 5px var(--shadow-primary-color);
    color: var(--secondary-color);
}

.professional_profile_intro p {
    color: var(--secondary-color);
    font-size: 24px;
    line-height: 2;
    padding: 20px 0;
    width: 800px;
}

.white_arrow {
    position: relative;
    width: 40px;
    height: auto;
    transform: rotate(90deg);
}

.professional_profile_skills {
    display: flex;
    margin-top: 50px;
    width: 100%;
    background: linear-gradient(90deg, var(--senary-color), #eaffff);
    justify-content: center;
    box-shadow: 0 5px var(--shadow-primary-color);
}

.professional_profile_skills_description{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.professional_profile_skills_skill {
    display: flex;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 4px 4px var(--quinary-color);
    border: var(--quaternary-color);
    border-width: 1px;
    border-style: ridge;
}

.professional_profile_skills_skill span {
    width: 150px;
    padding: 5px;
    align-self: center;
    font-size: 18px;
    line-height: 2;
    font-weight: bold;
}

.professional_profile_skills_skill p {
    width: 250px;
    align-self: center;
}

.professional_profile_skills_image {
    width: 530px;
    padding: 0 50px;
}

.professional_profile_skills_image img {
    width: 100%;
    height: 100%;
}

.professional_profile_functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 30px 0;
    width: 100%;
    background-color: var(--primary-color);
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 5px var(--shadow-primary-color);
}

.professional_profile_functions h2 {
    color: var(--secondary-color);
    padding: 30px 0 40px;
}

.professional_profile_functions_container {
    padding-top: 20px;
}

.professional_profile_functions_items {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 20px 0 30px;
}

.professional_profile_functions_item {
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: var(--senary-color);
    box-shadow: 4px 4px 4px var(--shadow-primary-color);
    border: ridge 1px var(--quaternary-color);
    margin: 0 50px;
    padding: 20px;
}

.professional_profile_functions_item span {
    font-size: 18px;
    line-height: 2;
    font-weight: bold;
}

.professional_profile_functions_item p {
    width: 250px;
    margin-top: 10px;
}

.professional_profile_conclusion {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 30px 0;
    width: 100%;
    background: linear-gradient(90deg, var(--senary-color), #eaffff);
    margin: 50px 0;
    text-align: center;
    box-shadow: 0 5px var(--shadow-primary-color);
}

.professional_profile_conclusion p {
    width: 1000px;
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
    align-self: center;
}